.success {
	font-size: 1.5rem;
	padding-left: 15px;
	padding-right: 15px;
	color: green;
	background-color: lightgray;
	border: green solid 2px;
	border-radius: 10px;
}

.error {
	font-size: 1.5rem;
	padding-left: 15px;
	padding-right: 15px;
	color: red;
	background-color: lightgray;
	border: red solid 2px;
	border-radius: 10px;
}
